<h1>Log in</h1>

<div class="ticket">
  <%= form_for(:session, url:login_path) do |f|%>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :passord %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline mx-3 py-0">
        <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
        <%= f.label :remeber_me, "Remember me until I log out", class: "form-check-label", for: "remember_me" %>
      </div>
    </div>
    <div class="text-right"><%= f.submit "Log in",class: 'btn btn-block btn-success'%></div>
  <% end %>

  <small><p class="text-right text-muted">New user ? <%= link_to "Create an account !", signup_path %></p></small>
</div>