<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="ticket">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="align-middle"><%= user.name %></td>
          <td class="align-middle"><%= user.email %><br/>
          <%= link_to 'Show', user , class:"btn btn-sm btn-outline-primary"%> 
          <%= link_to 'Edit', edit_user_path(user) , class:"btn btn-sm btn-outline-primary" %> 
          <%= link_to 'Destroy', user  , class:"btn btn-sm btn-outline-primary", method: :delete, data: { confirm: 'Are you sure?' } %> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to '<span class="fa fa-plus"></span> New User'.html_safe, new_user_path, class: "btn btn-success" %>
