<div class="ticket ticket-notify d-flex px-4 align-items-center">
  <div style="height: 100%">
    <h3><%= gravatar_for @user, "35x35" %> Hello <%= @user.name %> !</h3>
    <ul>
      <li><%= @user.email %></li>
      <li>registrered on <%= @user.created_at.to_formatted_s(:long) %></li>
      <li>You created <%= pluralize(@user.cards.count, "card") %></li>
    </ul>
  </div>
</div> 

<div class="row">
  <div class="col text-left"><small><%= link_to '<span class="fa fa-user-edit"> edit</span>'.html_safe, edit_user_path(@user) %></small></div>
  <div class="col text-right"><small><%= link_to '<span class="fa fa-trash-alt"> delete</span>'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %></small></div>
</div>